/* ??? */
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;    
}
li{
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Raleway', sans-serif;
}

/* HEADER */
/* style nav, center */
nav{
    margin: auto;
    width: 800px;
    height: 50px;
}
.topnav{
    background-color: #ffffff;
    font-size: 14px;
    margin-top: 40px;
}
/* link's style */
.topnav a{
    color: #000;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
}
/* hover link's style */
.topnav a:hover{
    border-bottom: 2px solid #000;
}

/* MAIN */
h1 {
    color: red;
}
h2{
    color: green;
}
.wrapper{
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}